.apropos {
  display: flex;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.apropos__gauche {
  text-align: justify;
  width: 50%;
  height: 100%;
  padding: 4rem;
  color: var(--clr-light);
}

.apropos__droite {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.apropos__titre {
  color: var(--clr-light);
}
