.apropos {
  display: flex;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.apropos__gauche {
  text-align: justify;
  width: 50%;
  height: 100%;
  padding: 4rem;
  color: var(--clr-light);
}

.apropos img {
  object-fit: contain;
}

.apropos__droite {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.apropos__titre {
  color: var(--clr-light);
}

.apropos__titre3 {
  color: var(--clr-slate400);
  margin-bottom: 1rem;
  font-size: var(--size-lg);
}

.liste {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

ul {
  list-style: none;
}

.pouce {
  transform: translateY(5px);
}
